<h2><%= @user.username %></h2>


<% if @user.routes.count > 0 %>
<table>
  <tr>
  <th>Route Name</th>
  <th>Distance</th>
  <th>View</th>
  </tr>
  <% @user.routes.each do |route| %>
  <tr>
    <td><%= route.name %></td>
    <td><%= route.distance %></td>
    <td><%= route.map_url %></td>
    </tr>
  <% end %>
</table>
<% end %>
