<form action="/anon_routes" method="post" id="distance_form">
<input type="number" name="input_miles" value="3.1"></input>
<input type="radio" name="units" value="miles" checked>miles</input>
<input type="radio" name="units" value="km">km</input>
<input type="submit" id="loopify">
</form>
