<form action="/anon_routes" method="post" id="distance_form">
  <section id="distance_form_input">
    <input type="text" name="input_miles" value="3.1"></input>
    <input type="radio" name="units" value="miles" checked>miles</input>
    <input type="radio" name="units" value="km">km</input>
    <input type="text" name="start_location" placeholder="use my current location"></input>
  </section>

  <input class="btn loopify" name="commit" type="submit" value="loopify">

</form>
