<form action="/anon_routes" method="post" id="distance_form">
  <input type="text" name="input_miles" value="3.1"></input>
  <input type="radio" name="units" value="miles" checked>miles</input>
  <input type="radio" name="units" value="km">km</input>
  <%= render "location_form" %>

  <section class="button">
    <%= image_submit_tag "button.png", :class => "loopify" %>
    <%= image_submit_tag "button_hover.png", :id => "loopify" %>
  </section>

</form>
