
<div class="about-us-container">
<h1 class="about-title">About Loopi</h1>
<p>Loopi was founded in 2016 out of a desire to end a run at the starting point and to remove the monotony out of the process. As students in the SeaLions cohort of Dev Bootcamp, we took our idea and developed a web application to generate running routes. Users can input a desired distance and Loopi will provide a randomized route based on the user's geolocation or input location.</p>

<h2>Routes Generated</h2>
<div id="odometer" class="odometer">121</div>
</div>
