<div class="section" id="landing-content">
  <%= image_tag "logo.png", :id => "logo" %>

  <section class="button">
    <%= image_tag "button.png", :id => "loopify" %>
    <% image_tag "button_hover.png", :id => "loopify" %>
  </section>
</div>



<div class="section" id="map"></div>
<%= image_tag "arrow.png", :class => "up" %>
<div id="directions-panel"></div>
