<div class="section" id="landing-content">
  <%= image_tag "logo.png", :id => "logo" %>

  <section class="landing-header">
    <h1 id="tagline">Run from Routine</h1>
    <h2 id="subheading">Randomize your Route with Loopi</h2>
  </section>

  <%= render "distance_form" %>
</div>

<div class="section" id="map"></div>
  <%= image_tag "nav_up.png", :class => "up" %>
  <%= image_tag "direction.png", :class => "down" %>
<div class="section" id="directions">
  <p>Total Distance: <span id="total"></span></p>
</div>
