<p id="notice"><%= notice %></p>



<p>
  <b>Name:</b>
  <%= @route.name %>
</p>


<%= link_to 'Edit', edit_user_route_path(@route.user, @route) %> |
<%= link_to 'Back', user_routes_path(@route.user) %>
