#landing-content
  +linear-gradient(#F83600, #FE8C00)
  opacity: 0.75
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: column
  flex-direction: column
  -webkit-align-items: center
  align-items: center
  -webkit-justify-content: space-around
  justify-content: space-around

  #logo
    width: 22%
    max-width: 80px
    min-width: 80px
    display: block

  .landing-header
    padding: 0 16px
    text-align: center

    #tagline
      font-size: 21px
      font-weight: 300
      margin: 0

    #subheading
      font-size: 16px
      font-weight: 200
      margin: 0

  #distance_form
    display: -webkit-flex
    display: flex
    -webkit-flex-direction: column
    flex-direction: column
    -webkit-align-items: center
    align-items: center
    -webkit-justify-content: space-around
    justify-content: space-around
    width: 50%
    height: 60%

    #distance_form_input
      display: flex
      justify-content: space-around
      font-size: 18px
      width: 140px

    #start_location
      font-size: 18px
      color: rgb(255, 255, 255)
      display:inline-block
      border: none
      background: transparent
      cursor: pointer
      border-bottom: 1px dashed rgb(255, 255, 255)
      @include placeholder
        color: rgba(255, 255, 255, 0.5)

      &:focus
        outline: none

  .loopify
    border: 2px solid rgb(255, 255, 255)
    border-radius: 24px
    background: transparent
    padding: 6px 28px
    color: rgb(255, 255, 255)
    font-size: 18px
    font-weight: 500

    &:hover
      cursor: pointer
      background-color: rgba(255, 255, 255, 0.2)

    &:active
      border: none
      outline: none

    &:focus
      border: none
      outline: none

.up
  z-index: 5
  margin: 0 auto
  position: absolute
  top: 10px
  left: 0
  right: 0

.down
  z-index: 5
  margin: 0 auto
  position: absolute
  bottom: 10px
  left: 0
  right: 0

#directions
  box-sizing: border-box
  padding: 2em
  text-align: center
  overflow: scroll
  margin: 0 auto
