#landing-content
  +linear-gradient(#F83600, #FE8C00)
  opacity: 0.75
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: column
  flex-direction: column
  -webkit-align-items: center
  align-items: center
  -webkit-justify-content: space-around
  justify-content: space-around

  #logo
    max-width: 80px
    min-width: 80px
    display: block
    @media (min-width: 830px)
      max-width: 120px
      min-width: 120px

  .landing-header
    padding: 0 16px
    text-align: center

    #tagline
      font-size: 21px
      font-weight: 300
      margin: 0
      @media (min-width: 830px)
        font-size: 30px

    #subheading
      font-size: 16px
      font-weight: 200
      margin: 0
      padding: 0 16px
      @media (min-width: 830px)
        font-size: 24px

  #distance_form_desktop
    text-align: center
    display: -webkit-flex
    display: flex
    -webkit-flex-direction: column
    flex-direction: column
    -webkit-align-items: center
    align-items: center
    -webkit-justify-content: space-around
    justify-content: space-around
    width: 50%
    height: 60%
    font-size: 24px
    font-weight: 300
    @media (max-width: 830px)
      display: none

    #distance-text
      width: 60px

    select
      background: transparent
      color: rgb(255, 255, 255)
      border: 1px solid rgb(255, 255, 255)

  #distance_form
    display: -webkit-flex
    display: flex
    -webkit-flex-direction: column
    flex-direction: column
    -webkit-align-items: center
    align-items: center
    -webkit-justify-content: space-around
    justify-content: space-around
    width: 50%
    height: 60%
    @media (min-width: 830px)
      display: none

    #distance_form_input
      display: flex
      justify-content: space-around
      font-size: 18px
      width: 140px

  .text-input
    font-size: 18px
    text-align: center
    color: rgb(255, 255, 255)
    display:inline-block
    border: none
    background: transparent
    cursor: text
    border-bottom: 1px dashed rgb(255, 255, 255)
    @include placeholder
      color: rgba(255, 255, 255, 0.5)
    @media (min-width: 830px)
      font-size: 24px
      width: 220px

    &:focus
      outline: none

  .loopify
    border: 2px solid rgb(255, 255, 255)
    border-radius: 24px
    background: transparent
    padding: 6px 28px
    color: rgb(255, 255, 255)
    font-size: 20px
    font-weight: 400
    @media (min-width: 830px)
      font-size: 24px
      padding: 6px 32px

    &:hover
      cursor: pointer
      background-color: rgba(255, 255, 255, 0.2)

    &:active
      border: none
      outline: none

    &:focus
      border: none
      outline: none

