/*#search_options {
  margin: 18px 0;
}

#geocoding {
  background-color: #e6e6e6;
  border-style: solid;
  border-radius: 11px;
  border-color: #e6e6e6;
  color: #666;
  padding: 0 8px;
  text-decoration: none;
}

.active {
  background-color: #05D4C1 !important;
  border-color: #05D4C1 !important;
  color: #fff !important;
}

#geocoding_fields {
  display: none;
  z-index: 100;
  margin-left: 74px;
  margin-top: -52px;
  position: absolute;
}

.search_box {
  width: 150px;
  height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.14);
}

.submit_button {
  font-weight: lighter;
  cursor: pointer;
  width: 60px;
  background-color: #05D4C1;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  font-size: 1.13 rem;
  border: 0;
  padding: 5px 0;
  outline: 0;
  letter-spacing: .05em;
}*/
