// .profile-link {
//     bullets: none;
//     margin: 0;
//     padding: 0;
//     padding-left: 10px;
// }

// .profile-link li {
//     display: inline-block;
//     padding: 10px;
// }

// .profile-link a {
//     font-weight: 100;
//     color: white;
//     font-family: 'Roboto', sans-serif;
//     text-decoration: none;
// }

// .profile-link a:hover {
//     text-decoration: underline;
// }


// .users-show {
//   margin: 5%;
// }

// .save-button {
//     -webkit-border-radius: $btn-border-radius;
//     -moz-border-radius: $btn-border-radius;
//     border-radius: $btn-border-radius;
//     background: linear-gradient(#F83600, #FE8C00);
//     border: solid;
//     border-width: $btn-border-width;
//     border-color: white;
//     color: white;
//     font-weight: 100;
//     font-size: ($btn-font-size * 0.5);
//     font-family: 'Roboto', sans-serif;
//     line-height: $btn-line-height;
//     padding-bottom: $btn-padding-bottom;
//     padding-top: 5px;
//     width: ($btn-width * 0.7);
//     text-decoration: none;
//     display: inline-block;
// }

// .save-button:hover
//   cursor: pointer;
//   background: white;
//   color: #F83600;
//   border-color: #F83600;



.users-show a
  text-decoration: none
  padding: 2px 7px
  background-color: white
  color: #F83600
  border: #F83600 2px solid
  border-radius: 5px
  margin: 0 1px
  &:hover
    color: #000


.users-show
  padding: 5%
  max-width: 500px

.username
  font-size: 2.5em
  color: #000

.pacifico-text
  font-family: "Pacifico", cursive

.field input
  width: 250px
  height: 20px
  margin: 5px
  padding: 5px

// #loopi-logo
//   font-family: "pacifico", cursive
//   border: none

#no-borders a
  border: none


.sign-in-container
  +linear-gradient(#F83600, #FE8C00)
  opacity: .75
  border-radius: 15px
  max-width: 400px
  padding: 15px
  margin: 0 auto
  color: white

.remember-me
  padding: 5px 0


