<div id="search_options">
  <%= link_to "Enter Address", geocoding_path, remote: true, id: "geocoding"%>
</div>

<div id="geocoding_fields">
  <%= text_field_tag :search, params[:search], placeholder: "Enter an address", :id => 'search_box_geocoding', class: 'search_box' %>
  <%= button_tag "Search", id: "submit_button_geocoding", data: { disable_with: "Please wait..." }, class: "submit_button" %>
</div>

<div id="right-panel">
<div>
<b>Start:</b>
<select id="start">
  <option value="San Diego, CA">San Diego, CA</option>
  <option value="Boston, MA">Boston, MA</option>
  <option value="New York, NY">New York, NY</option>
  <option value="Los Angeles, CA">Los Angeles, CA</option>
</select>
<br>
<b>Waypoints:</b> <br>
<i>(Ctrl-Click for multiple selection)</i> <br>
<select multiple id="waypoints">
  <option value="los angeles, ">Los Angeles, CA</option>
  <option value="toronto, ont">Toronto, ONT</option>
  <option value="chicago, il">Chicago</option>
  <option value="winnipeg, mb">Winnipeg</option>
  <option value="balboa park, ca">Hillcrest</option>
  <option value="north park, ca">North Park</option>
  <option value="spokane, wa">Spokane</option>
</select>
<br>
<b>End:</b>
<select id="end">
  <option value="Vancouver, BC">Vancouver, BC</option>
  <option value="Seattle, WA">Seattle, WA</option>
  <option value="San Francisco, CA">San Francisco, CA</option>
  <option value="San Diego, CA">San Diego, CA</option>
</select>
<br>
  <input type="submit" id="submit">
</div>
<div id="directions-panel"></div>
</div>
